<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Thanks for visiting</title>
	<script src="https://kit.fontawesome.com/cb4f145e9f.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<nav class="navigationBar">
		<div class="logoContainer">
			<img src="/images/logo.jpg" alt="logoImage">
			<span id="branding">Team Com</span>
		</div>
		<div class="navigationMenu">
			<ul>
				<li><i class="fas fa-home"></i></li>
				<li><i class="fas fa-info-circle"></i></li>
				<li><i class="fas fa-headset"></i></li>
			</ul>
		</div>
	</nav>
	<div class="errorContainer">
		<div class="imageContainer">
			<img src="/images/thanksImage.png" alt="404 Image">
		</div>
		<div class="textContainer">
			<h2>Your call has been disconnected.</h2>
		<p>Thanks for using Team com. We hope you had a smooth experience.</p>
		</div>		
		
	</div>

</body>
</html>