<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Team Communication System</title>	
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<script src="https://kit.fontawesome.com/cb4f145e9f.js" crossorigin="anonymous"></script>

</head>
<body>
	<nav class="navigationBar">
		<div class="logoContainer">
			<img src="/images/logo.jpg" alt="logoImage">
			<span id="branding">Team Com</span>
		</div>
		<div class="navigationMenu">
			<ul>
				<li><i class="fas fa-home"></i></li>
				<li><i class="fas fa-info-circle"></i></li>
				<li><i class="fas fa-headset"></i></li>
			</ul>
		</div>
	</nav>
	<section class="jumboSection">
		<div class="jumboFlexBox">
			<div class="jumboTextSection">
				<div class="headingParaContainer">
					<h2>
						High quality audio rooms for chatting with friends.
					</h2>
					<p>We made this high quality end to end audio chat room service free for everybody to use.
						Feel free to use this software for calling your friends and enjoy!
					</p>
					<div class="formContainer">
						
					</div>
				</div>
			</div>
			<div class="jumboImageSection">
				<div class="imageContainer">
					<img src="images/jumbotronImage.png" alt="Audio Chat">
				</div>				
			</div>
		</div>
	</section>
</body>
</html>