<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script>
		const ROOM_ID = "<%= roomId%>";
	</script>
	<script src="https://kit.fontawesome.com/cb4f145e9f.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/meetingStyles.css">
	<script src="/socket.io/socket.io.js" defer></script>
	<script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
	<script src="/js/script.js" defer></script>	
</head>
<body>
	<div class="mainContainer">
		<div class="statusBar">
			<p><i class="fas fa-user-friends"></i><span id="participantCount"></span></p>
			<div class="verticalSeparator"></div>
			<p class="timerPart"><span id="timerHour"></span>:<span id="timerMinute"></span></p>
		</div>
		<div id="videoContainer">

		</div>
		<div class="controlCenter">
			<div class="buttonContainer"><i class="fas fa-microphone"></i></div>
			<!-- <i class="fas fa-microphone-slash"></i> -->
			<div class="buttonContainer"><i class="fas fa-phone-slash" id="rejectButton"></i></div>
			<div class="buttonContainer"><i class="fas fa-video"></i></div>
			<!-- <i class="fas fa-video-slash"></i> -->
		</div>
	</div>
	
	
</body>
</html>